:root {
  --primary-text-color: #212121;
  --secondary-text-collor: #757575;
  --accent-text-color: #2196F3;
  --accent2-text-color: #FFFFFF;
  --background-accent: #2F303A;
  --background2-accent: #F5F4FA;
  --logo-color: #000000;
  --border-portfolio: #eeeeee;
  --tipical-margin: 30px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  display: inline-block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.card-list {
  display: flex;
  justify-content: center;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  color: var(--primary-text-color);
  background: var(--accent2-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link-light {
  background-color: var(--accent2-text-color);
}

.socials__icon-light {
  fill: #AFB1B8;
}

.socials__link:hover,
.socials__link:focus {
  background-color: var(--accent-text-color);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: var(--accent2-text-color);
}

.socials__link-dark {
  background-color: #44454E;
}

.socials__icon-dark {
  fill: var(--accent2-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo > span {
  color: var(--accent-text-color);
}

.logo--dark {
  color: var(--logo-color);
}

.logo--light {
  color: var(--accent2-text-color);
  margin-bottom: 20px;
  display: inline-block;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header--wrapper {
  display: flex;
  align-items: center;
}

.header_navigation--wrapper {
  display: flex;
  align-items: center;
}

.header_list {
  display: flex;
  margin-left: 93px;
}

.header_item:not(:first-child) {
  margin-left: 50px;
}

.header_item:last-child {
  margin-left: 30px;
}

.header_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header_link:hover,
.header_link:focus {
  color: var(--accent-text-color);
}

.header__contact-wrapper {
  margin-left: auto;
  display: flex;
}

.header-contacts {
  color: var(--secondary-text-collor);
}

.header_icon {
  margin-right: 10px;
  fill: currentColor;
  justify-content: center;
  align-items: center;
}

.curent-page-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  background: var(--background-accent);
  padding: 200px 0px;
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero__top-text {
  max-width: 696px;
  color: var(--accent2-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto var(--tipical-margin);
}

.hero__button {
  margin: 0 auto;
  min-width: 200px;
  border-color: transparent;
  padding: 10px 32px;
  justify-content: center;
  border-radius: 4px;
  color: var(--accent2-text-color);
  background: var(--accent-text-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.ocupation__item {
  flex-basis: calc(33.3333333333 - var(--tipical-margin));
  margin-right: var(--tipical-margin);
  position: relative;
}

.ocupation__item:last-child {
  margin-right: 0;
}

.ocupation__text {
  position: absolute;
  bottom: 0;
  padding: 27px 0px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
}

.exelence {
  padding-bottom: 0px;
}

.exelence__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.exelence__item {
  flex-basis: calc(25 - var(--tipical-margin));
  margin-right: var(--tipical-margin);
}

.exelence__item:last-child {
  margin-right: 0;
}

.exelence__item-wrapper {
  background-color: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exelence__item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.exelence__item-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

.team {
  background: #F5F4FA;
}

.card-list__item {
  flex-basis: calc(25 - var(--tipical-margin));
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card-list__item:not(:last-child) {
  margin-right: var(--tipical-margin);
}

.team__content {
  padding: 30px 15px;
  margin: 0 auto;
  text-align: center;
}

.card-list__item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.card-list__item-text {
  color: var(--secondary-text-collor);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.card-list__soc-item {
  margin-right: 10px;
}

.card-list__soc-item:last-child {
  margin-right: 0px;
}

.partners__item {
  width: 170px;
  height: 92px;
  margin-right: var(--tipical-margin);
}

.partners__item:last-child {
  margin-right: 0px;
}

.partners__link {
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__link:hover,
.partners__link:focus {
  border-color: var(--accent-text-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners__icon {
  fill: #AFB1B8;
}

.partners__link:hover .partners__icon,
.partners__link:focus .partners__icon {
  fill: var(--accent-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  border-top: 1px solid #EEEEEE;
}

.card-list {
  display: flex;
  justify-content: center;
}

.portfolio-wrapper {
  margin-bottom: 50px;
}

.portfolio__button {
  padding: 6px 22px;
  margin-right: 6px;
  background-color: var(--background2-accent);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__button:hover,
.portfolio__button:focus {
  padding: 6px 22px;
  margin-right: 6px;
  color: var(--accent2-text-color);
  background-color: var(--accent-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio--list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--tipical-margin));
  margin-top: calc(-1 * var(--tipical-margin));
}

.portfolio__item {
  flex-basis: calc(33.3333333333% - var(--tipical-margin));
  margin-left: var(--tipical-margin);
  margin-top: var(--tipical-margin);
  max-width: 370px;
}

.portfolio__item:hover .portfolio__card-text {
  transform: translateY(0);
}

.portfolio__card {
  border: 1px solid #EEEEEE;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__card:hover,
.portfolio__card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__card-img {
  position: relative;
  overflow: hidden;
}

.portfolio__card-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms linear;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio__card-wrap {
  padding: 20px 24px;
  overflow: hidden;
}

.portfolio__card-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__bottom-text {
  margin-top: 4px;
  color: var(--secondary-text-collor);
  font-size: 16px;
  line-height: 1.8;
}

.footer {
  background: var(--background-accent);
  padding: 60px 0px;
}

.footer--wraper {
  display: flex;
  flex-wrap: wrap;
}

.footer--box-1 {
  margin-right: 70px;
}

.footer__list {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer--item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link-map {
  color: var(--accent2-text-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer--box-2 {
  padding-top: 12px;
  margin-right: 93px;
}

.footer__title {
  font-size: 14px;
  line-height: 1.4;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer--box-3 {
  padding-top: 12px;
}

.footer__form {
  display: flex;
  align-items: flex-start;
}

.footer__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  background-color: transparent;
  color: var(--accent2-text-color);
}

.footer__button {
  margin-left: 12px;
  padding: 8px 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--accent2-text-color);
  background-color: var(--accent-text-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer__button::after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-size: contain;
  background-image: url(../images/icon_send.svg);
}

.backdrop::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.open-modal::before {
  content: "";
  visibility: visible;
  opacity: 1;
  pointer-events: visible;
}

.backdrop.open-modal .modal {
  transform: translate(-50%, -50%) scale(1) rotate(0deg);
}

.backdrop .modal {
  width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0) rotate(180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 2.5em;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-check-wrap {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.modal-comment {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 2.5em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 2.55em;
  outline: none;
}

/* 
 .modal-input:-autofill,
.modal-input:-autofill:hover,
.modal-input:-autofill:focus
{
-webkit-box-shadow: 0 0 0px 1000px var(--accent2-text-color) inset;
}  */
.modal-input:focus {
  border-color: var(--accent-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-text-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:-webkit-autofill,
.modal-input:-webkit-autofill:hover,
.modal-input:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--primary-text-color);
  /* -webkit-box-shadow: 0 0 0px 1000px var(--accent2-text-color) inset; */
}

.modal-input:-webkit-autofill::first-line {
  font-size: 14px;
}

/* .modal-input:not(:placeholder-shown):focus{
  border-color: #2196F3;
} */
.modal-text:placeholder-shown:focus {
  border-color: #2196F3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label {
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--secondary-text-collor);
}

.modal-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 0.75em 1em;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  margin-top: 4px;
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input-icon {
  position: absolute;
  left: 0.75em;
  top: 50%;
  transform: translateY(-50%);
}

.check-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-collor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-link {
  color: var(--accent-text-color);
  text-decoration-line: underline;
}

.checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
}

.modal-checkbox:checked + .check-text > .checkbox-icon {
  background-color: var(--accent-text-color);
  border: none;
}

.modal-checkbox:checked + .check-text .check-icon {
  fill: var(--accent2-text-color);
}

/* .checkbox-icon {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 3px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-checkbox:checked+.checkbox-icon {
  background: var(--accent-text-color);
  border: none;
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
} */
.modal-main-btn {
  padding: 10px 55px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent2-text-color);
  background-color: var(--accent-text-color);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal-close-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close-btn:active,
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #2196F3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* border-color: #2196F3 */
}

/* .is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

} */
/* 
.no-scroll {
  overflow: hidden;
} *//*# sourceMappingURL=main.css.map */