@import "./utils/vars";
@import "./base/common";
@import "./base/reset";
@import "./utils/mixins";
@import "./components/container";
@import "./components/socials";
@import "./components/logo";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/ocupation";
@import "./layout/excellence";
@import "./layout/team";
@import "./layout/partners";
@import "./layout/portfolio";
@import "./layout/footer";
@import "./components/modal";