.exelence {
    padding-bottom: 0px;
}

.exelence__list {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}



.exelence__item {
    flex-basis: calc(100/4 - var(--tipical-margin));
    margin-right: var(--tipical-margin);
}

.exelence__item:last-child {
    margin-right: 0;
}


.exelence__item-wrapper {
    background-color: #F5F4FA;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exelence__item-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
}

.exelence__item-text {
    color: #757575;
    font-size: 14px;
    line-height: 1.7;
}