.exelence {
    padding-bottom: 60px;
    @media screen and ( min-width: 1200px) {
        padding-bottom:0px;
    }
  
  
}

.exelence-list{
    gap: 30px;
}

.exelence__item {
    // flex-basis: calc(100/4 - var(--tipical-margin));
    // margin-right: var(--tipical-margin);

width: 100%;

  
@media screen and ( min-width: 768px) {
    width: calc((100% - 30px)/2);
}

@media screen and ( min-width: 1200px) {
    width: calc((100% - 90px)/4);
}

    &:last-child {
        margin-right: 0;
    }
}

exelence__img{
    
}

.exelence__item-wrapper {
    background-color: #F5F4FA;
    border-radius: 4px;
    // width: 270px;
    height: 120px;
margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
       width: 100%;
     
}

.exelence__item-title {
    @include font (null, 700, 14px, 1.2, null);
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;

    @media screen and ( min-width: 768px) {
        text-align:left;
    }
}

.exelence__item-text {
    @include font (#757575, null, 14px, 1.7, null);
}