.footer {
  background: var(--background-accent);
  padding: 60px 0px;
}

.footer--wraper {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  align-items: center;

  @media screen and ( min-width: 768px)  {
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
  }

  @media screen and ( min-width: 1200px)  {
    justify-content: space-between;

  }



}

.footer--box-1 {
  // margin-right: 70px;
margin-bottom: 60px;
}


.footer__list {
  @include font (null, null, 14px, 1.7, null);
  font-style: normal;

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer--item{
  display: flex;
  justify-content: center;

  @media screen and ( min-width: 1200px)  {
    justify-content: flex-start;}

}

.footer__link-map {
  color: var(--accent2-text-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer--box-2 {

  // margin-right: 93px;
  margin-bottom: 60px;

  @media screen and ( min-width: 1200px)  {
    padding-top: 12px;}

}


.footer__title {
  @include font (#FFFFFF, null, 14px, 1.4, null);
  text-transform: uppercase;
  margin-bottom: 20px;

  text-align: center;
  @media screen and ( min-width: 1200px)  {
    text-align: left;}
}


.footer--box-3 {
  padding-top: 12px;
  width: 100%;

  @media screen and ( min-width: 1200px)  {
    width: fit-content;}
}


.footer__form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  @media screen and ( min-width: 1200px)  {
  flex-direction: row

  }
}

.footer__input {
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
  background-color: transparent;
  color: var(--accent2-text-color);


display: flex;
align-items: stretch;
margin: 0 auto 20px;
  width: 100%;

  @media screen and ( min-width: 768px)  {
    width: 450px;
  }

  @media screen and ( min-width: 1200px)  {
    width: 358px;
    margin-right: 12px;
  }
}

.footer__button {
  @include font (#FFFFFF, 700, 16px, 1.88, 0.06em);
  @include button();
  @extend %button;
  // margin-left: 12px;
  padding: 8px 27px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  margin: 0 auto;


  &::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-size: contain;
    background-image: url(../images/icon_send.svg);
  }
}