.partners__item {
    width: 170px;
    height: 92px;
    margin-right: var(--tipical-margin);
   &:last-child {
        margin-right: 0px;
    }
}

.partners__link {
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
        border-color: var(--accent-text-color);
        transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}


.partners__icon {
    fill: #AFB1B8;
    .partners__link:hover &,
    .partners__link:focus & {
        fill: var(--accent-text-color);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}