.portfolio {
  border-top: 1px solid #EEEEEE;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and ( min-width: 1200px) {
    padding-top: 94px;
   padding-bottom: 94px;
  }

  &-wrapper {
    margin-bottom: 40px;
  }

  @media screen and ( min-width: 768px) {
    margin-bottom: 30px;
}

@media screen and ( min-width: 1200px) {
  margin-bottom: 50px;
}
}

.portfolio__button-list{
justify-content: left;

@media screen and ( min-width: 768px) {
  justify-content: center;
}

}

.portfolio__button {
 
  font-weight:500;
  font-size: 16px;
  line-height: 1.62;
  


  @include button();
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 15px;
  background-color: var(--background2-accent);
  border: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    padding: 6px 22px;
    margin-right: 8px;
    color: var(--accent2-text-color);
    background-color: var(--accent-text-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}


.portfolio--list {
  display: flex;
  flex-wrap: wrap;
  // margin-left: calc(-1 * var(--tipical-margin));
  // margin-top: calc(-1 * var(--tipical-margin));

 justify-content: center;
 gap: 30px;

 
}

.portfolio--list:last-child{
  @media screen and ( min-width: 768px)  {
    justify-content: left;
  }
}


.portfolio__item {
  // flex-basis: calc(100%/3 - var(--tipical-margin));
  // margin-left: var(--tipical-margin);
  // margin-top: var(--tipical-margin);
  // max-width: 370px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #EEEEEE;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }


  @media screen and ( min-width: 768px) {
    width: calc((100% - 30px)/2);
}

@media screen and ( min-width: 1200px) {
    width: calc((100% - 60px)/3);
}

}



.portfolio__card {

}

.portfolio__card-img {
  position: relative;
  overflow: hidden;
}

.portfolio__card-text {
  @include font (#FFFFFF, null, 18px, 1.56, null);
  position: absolute;
  top: 0;
  padding: 63px 24px;
  height: 100%;
  text-align: left;
  transform: translateY(100%);
  transition: transform 250ms linear;
  background-color: rgba(33, 150, 243, 0.9);

  .portfolio__item:hover & {
    transform: translateY(0);
  }
}


.portfolio__card-wrap {
  padding: 20px 24px;
  overflow: hidden;
}

.portfolio__card-title {
  @include font (#212121, 700, 18px, 2, 0.06em);
}

.portfolio__bottom-text {
  @include font (#757575, null, 16px, 1.8, null);
  margin-top: 4px;
}