.team {
    background: #F5F4FA;
    &__content {
        padding: 30px 15px;
        margin: 0 auto;
        text-align: center;
    }
}

.card-list__item {
    flex-basis: calc(100/4 - var(--tipical-margin));
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: var(--tipical-margin);
    }
}

.card-list__item-title {
    @include font (null, 500, 16px, 1.18, null);
    margin-bottom: 10px;
}

.card-list__item-text {
    @include font (#757575, 400, 16px, 1.18, null);
    margin-bottom: 16px;
}


.card-list__soc-item {
    margin-right: 10px;
    &:last-child {
        margin-right: 0px;
    }
}