@mixin font ($color, $fw, $fs, $lh, $lc) {
    color: $color;
    font-weight:$fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $lc;
   }
   
@mixin button ($br:4px, $ff:'Roboto', $ta:center) {
       border-radius: $br;
       font-family: $ff;
       text-align: $ta;
   }
   