:root {
    --primary-text-color: #212121;
    --secondary-text-collor: #757575;
    --accent-text-color: #2196F3;
    --accent2-text-color: #FFFFFF;
    --background-accent: #2F303A;
    --background2-accent: #F5F4FA;
    --logo-color: #000000;
    --border-portfolio: #eeeeee;
    --tipical-margin: 30px;
}